*{
    /* margin-left: 10px; */
    margin: 0;
    padding: 0;
    /* background-color: rgba(39, 39, 39,); */
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.439);
    background-image: url("../images/dark-grunge-textures-7.jpg");
    background-repeat: repeat;
    background-size: 20%;
}

p, h2, h3, h4, h5, h6{
    color: rgb(219, 219, 219);
}

h1{
    font-family: 'Bebas Neue', cursive;
}

img{
    width: 80%;
}

a{
    color: rgb(117, 237, 117) !important;
    text-decoration: none;
}

.nav{
    background-color: rgb(66, 66, 66);
        padding: 2%;
}


.footer{
    background-color: rgb(66, 66, 66);
    padding: 2%;
}

.animate{
    background-color: rgb(29, 173, 149) ;
    animation-name: moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    0%   {background-color: rgb(29, 173, 149)}
    33%  {background-color: rgb(112, 181, 39);}
    66%  {background-color: rgb(80, 106, 53);}
    100% {background-color: rgb(29, 173, 149)}
    }

    .button{
        background-color: rgb(117, 237, 117) !important;
        border: none;
        border-radius: 15px;
        font-weight: 500;
        color: rgb(60, 60, 60);
        box-shadow: 3px 3px 10px black;
        transition: all 1s;
        width: 20%;
    }
    
    .button:hover{
        background-color: rgb(60, 60, 60);
        width: 100%;
    }