*{
    /* margin-left: 10px; */
    margin: 0;
    padding: 0;
    /* background-color: rgba(39, 39, 39,); */
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.439);
    background-image: url("../images/dark-grunge-textures-7.jpg");
    background-repeat: repeat;
    background-size: 20%;
}

#wrapper{
    width: 80%;
    margin: auto;
}

header{
    margin-bottom: 3%;
    margin-top: 3%;
}

nav{
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

nav ul li {
    margin-bottom: 2%;
}

footer{
    margin-top: 2%;
    padding: 3% 10% 3% 10%;
    background-color: rgb(86, 86, 86);
}

ul li{
    padding: 2%;
}

img{
    /* width:250px */
    width: 15%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(117, 237, 117);
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.navbar{
    list-style-type: none;;
    font-size: 1em;
    /* display: flex;
    flex-direction: row; */
}
ul li{
    display: inline;
}

a:link{
    color: white
}
a:visited{
    color: rgb(211, 211, 211);
}
a:hover{
    color: rgb(117, 237, 117);
    transition: 0.7s;
}

h1{
    font-size: 60px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    text-decoration: overline;
}

p{
    line-height: 120%;
    color: rgb(117, 237, 117);
}

#bodytext{
    width: 60%;
}

.columns {
    float:left;
    background-color: rgb(12, 12, 12);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    height: 0.2%;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6{
    width: 50%;
}
/* .col-6 {
    width: 50%;
    position: relative;
}
#column-p{
    position: absolute;
    width: 80%;
    } */

.col-7 {
    width: 58.33%;
    overflow: auto;
}

.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

.clearfix{
    clear: both;
}

button{
    position: fixed;
    top: 2%;
    right: 2%;
    width: 10%;
    height: 5%;
    background-color: rgb(117, 237, 117);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    color: rgb(60, 60, 60);
    box-shadow: 3px 3px 10px black;
}

button:hover{
    background-color: rgb(60, 60, 60);
    color: rgb(117, 237, 117);
    transition: all 0.5s;
    border: 3px solid rgb(117, 237, 117);
}

.z-index{
    position: relative;
}

#z-text{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 2%;
    font-size: 20px;
    text-shadow: 0px 0px 5px black;
    color: white;
}

@media only screen and (max-width: 1297px) {
    nav ul li{
        display: block;
        padding: 5px;
    }

    nav{
        margin: 0.5%;
    }

    button{
        width: 25%;
    }
}

@media only screen and (max-width: 750px) {

    #wrapper {
        width: 95%;
        margin: auto;
        padding: 10px;
    }

    .columns {
        width: 90%;
        float: left;
        margin-left: 2%; 
        margin-right: 5%;

    }
    img{
        width: 23%;
    }

    .z-index{
        display: none;
    }

    #bodytext{
        width: 85%;
    }
}

@media only screen and (max-width: 400px) {
    .columns {
    width: 100%;
    float: left;
    margin-right: 3%;
    margin-left: 0%;
    }}