@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa&family=Nabla&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/* body{
    background-color: black;
}

h1,h3,p{
    color: rgb(0, 255, 98);
    text-align: center;
    position: relative;
    top: 70px;
}

h1{
    font-family: 'Nabla', cursive;
    font-size: 100px;
    margin-bottom: 0%;
}

h3{
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    letter-spacing: 2px;
}

p{
    padding-top: 10px;
    font-family: 'Comfortaa', cursive;
}

p{
    margin: 0 auto;
    width: 300px;
} */